<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../static/image/alatoo.png" th:src="@{image/alatoo.png}" width="60" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/greeting">Hello<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form method="post" action="filter" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" name="filter" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <h1>This is a midterm project</h1>
    <h4>I hope the application is okay to get "okay" grade</h4>
    <br>
</header>
<body>
    <div th:text="'Hello, ' + ${name}"></div>
</body>
</html>