<html>
<head>
    <title>Ala-Too</title>
</head>
<header>
    <img src="../static/image/logo.png" alt="alatoo-logo" width="60" height="60">
    <h1>This is a midterm project</h1>
    <h4>I hope the application is okay to get "okay" grade</h4>
    <br>
</header>
    <body>
        <div>
            <form method="post">
                <input type="text" name="text" placeholder="Введите текст записи"/>
                <input type="text" name="tag" placeholder="Тег"/>
                <button type="submit">Добавить</button>
            </form>
        </div>
        <br>
        <div>Список записей</div>
        <br>
        <form method="post" action="filter">
            <input type="text" name="filter">
            <button type="submit">Найти</button>
        </form>
        <br>
        {{#messages}}
            <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            </div>
        {{/messages}}
    </body>
</html>